node-options=--max-old-space-size=14000
@vnpt:registry=https://nexus.vdc2.com.vn/repository/NPM_HOSTED/
//nexus.vdc2.com.vn/repository/NPM_HOSTED/:username=npmclient
//nexus.vdc2.com.vn/repository/NPM_HOSTED/:_password="Vm5wdEAxMjM="
